extends ../layout

block title
	title= member.ru.name.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css')

block content_scripts
	//- script(type='text/javascript', src='/scripts/main.js')
	//- script(type='text/javascript', src='/scripts/back.js')

block content_right
	if (events)
		.pin_events_block
			.pin_events_scroll
				each event in events
					a.pin_event_link(href='/event/' + event._id)
						.pin_event
							.pin_event_titile= event.ru.title.toUpperCase()
							.pin_event_s_titile= event.ru.s_title.toUpperCase()

block content
	img(src=member.img)
	.content_body
		.name= member.ru.name
		.description= member.ru.description