extends ../layout

block title
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ'];
	if (month == 12)
		- month = 0
	title= 'АФИША | ' + months[month]

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/afisha.css' + version)
	//- link(rel='stylesheet', type='text/css', href='/styles/afisha_colors.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/afisha.js' + version)

block content_right

- var director = false
- var lecturer = false
- var author = false
- var playwright = false
- var actors = false

mixin getSchedule(date, out)
	- var hall = {'main': 'большой зал', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}
	- var categorys = {'lecture': 'ЛЕКЦИЯ', 'masterclass': 'МАСТЕР-КЛАСС', 'exhibition': 'ВЫСТАВКА', 'concert': 'КОНЦЕРТ', 'storytallyng': 'СТОРИТЕЛЛИНГ'}
	.afisha_item_block(class=out ? 'out' : '')
		- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ']
		- var d = date.date.getDate()
		- d = d < 10 ? '0' + d : d
		.afisha_date_block= days[date.date.getDay()] + '.' + d
		.afisha_events_block
			each event in date.events
				.afisha_description_block
					.afisha_schedule_block
						.afisha_time= event.time.hours + ':' + event.time.minutes
						.afisha_hall= hall[event.event.hall]
						//- if (event.ticket && !out)
							a.afisha_ticket(href=event.ticket, rel='nofollow', target='_blank') купить билет
					.afisha_all_block
						.afisha_tags_block
							if (event.premiere == 'true')
								.tag.premiere ПРЕМЬЕРА
							each project in projects
								each p_event in project.events
									if (p_event.toString() == event.event._id.toString())
										.tag(class=project._id)= project.ru.title.toUpperCase()
							each category in event.event.category
								if (category != 'performance')
									.tag(class=category)= categorys[category]
						.afisha_event
							a.title(href='/event/' + event.event._id)= event.event.ru.title.toUpperCase()
							.s_title= event.event.ru.s_title.toUpperCase()
							each member in event.event.members
								if (member.c_status == 'lecturer')
									if (!lecturer)
										lecturer = true
										|Лектор:&nbsp;
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'director')
									if (!director)
										director = true
										|Режиссер:&nbsp;
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'author')
									if (!author)
										author = true
										|Автор:&nbsp;
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '
									br
								if (member.c_status == 'playwright')
									if (!playwright)
										playwright = true
										|Драматург:&nbsp;
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name + ' '

						.actors
							each member in event.event.members
								if (member.c_status == 'actor')
									if (!actors)
										actors = true
										|Исполнители:
										br
									a.member(href='/member/' + member.m_id._id)= member.m_id.ru.name
									br
						.comment
							!= event.event.ru.comment


block content
	if (schedule.length == 0)
		.afisha_no_schedule_block НЕТ РАСПИСАНИЯ
	else
		- var now = new Date()
		- now.setDate(now.getDate()-1)
		.afisha_actual_block
			each date in schedule
				if (date.date > now)
					+getSchedule(date, false)
		.afisha_separator_block
			//- a.separator_title(href='/afisha/archive') АРХИВ
			.separator_title АРХИВ
			.separator_line
		.afisha_archive_block
			each date in schedule.reverse()
				if (date.date < now)
					+getSchedule(date, true)