extends ../layout

block title
	title cool!

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/jquery.parallax.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content
	h1= t('main.title')
	a#en(href='/?setLng=en-US') en-US
	| &nbsp;|&nbsp;
	a#de(href='/?setLng=ru-RU') ru-RU
	br
	p= t('ns.lesson:main.lesson', {count: 1})
	p= t('ns.lesson:main.title')
	p= t('ns.lesson:main.description')
	br
	p= t('ns.scene:main.scene', {count: 1})
	p= t('ns.scene:main.title')
	p= t('ns.scene:main.description')