extends ../../../layout

block title
	title РЕДАКТИРОВАТЬ ПАРТНЕРА

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title ПРЕССА
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.title РЕДАКТИРОВАТЬ ПАРТНЕРА
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Имя:
			input.ru(type="text", name="ru[name]", value=partner.ru.name)
			input.en(type="text", name="en[name]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= partner.ru.description
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Ссылка:
			input(type="text", name="link", size='60', value=partner.link)
			.form_title Логотип:
			input(type="file", name="logo")
			.form_title Доступ:
			input(type='checkbox', name='services[api]', value='true', checked=partner.services.api)
			|api | ключ:
			b &nbsp;#{partner.secret}&nbsp;
			a(href='/api/doc/' + partner.secret, target='_blank') документация
			br
			input(type='checkbox', name='services[tickets]', value='true', checked=partner.services.tickets)
			|билеты
			br
			input(type='checkbox', name='services[list]', value='true', checked=partner.services.list)
			|список
			br