extends ../layout

block title
	title= event.ru.title.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/content.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/event.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right
	.content_right_block
		if (event.ru.ticket)
			.ticket
				!= event.ru.ticket
		if (session.user_id)
			a.edit_btn(href='/auth/edit/events/' + event._id, target='_blank') РЕДАКТИРОВАТЬ

block content_under
	.press_block
		each item in press
			.press_item
				a.press_author(href=item.link, target='_blank')= item.ru.author + ':'
				.press_body= '«' + item.ru.body + '»'

mixin memberList(marker, status)
	- var flag = false
	each member in event.members
		if (member.c_status == status)
			if (!flag)
				.marker(class=status)
					.m_title= marker + ':'
			- flag = true
					.m_list
						a(href= '/member/' + member.m_id._id, id=member.m_id._id)= member.m_id.ru.name
						.m_comment(lang='ru')= member.comment.ru


mixin calItem(date)
	- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ'];
	- var hall = {'main': 'большой зал', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}
	- var d = date.date.getDate()
	- d = d < 10 ? '0' + d : d
	.cal_item
		.cal_date= days[date.date.getDay()] + '.' + d
		.cal_schedule
			.cal_time= date.events[0].time.hours + ':' + date.events[0].time.minutes
			.cal_hall= hall[event.hall]
			//- if (date.events[0].ticket)
				a.cal_ticket(href=date.events[0].ticket, rel='nofollow', target='_blank') купить билет
	.cal_spacer


block content
	- var ru_column_one = {'director': 'Режиссер', 'author': 'Автор', 'playwright': 'Драматург', 'choreographer': 'Хореограф', 'composer': 'Композитор', 'artist': 'Художник', 'actor': 'Исполнители', 'producer': 'Продюсер', 'curator': 'Куратор', 'lecturer': 'Лектор', 'theoretician': 'Теоретик', 'art_director': 'Художественный руководитель', 'scenographer': 'Сценограф'}
	- var ru_column_two = {'photographer': 'Фотограф', 'sub_director': 'Помощник режисера', 'tech_director': 'Технический директор', 'video_artist': 'Видеохудожник', 'light_artist': 'Художник по свету', 'audio_director': 'Звукорежисер', 'multi_artist': 'Мультимедиахудожник', 'consultant': 'Консультант', 'effects': 'Спецэффекты'}
	if (event.photo)
		.image_upload(style='background-image: url(' + event.photo + ')')
			if (event.ru.p_author)
				.p_author
					.a_title Фото:
					.a_name= event.ru.p_author
	if (schedule.length > 0)
		.calendar
			.inner
				- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ'];
				- var now = new Date()
				.cal_inner_title= months[(now.getMonth())]
				.cal_month_block.current
					each date in schedule
						if (date.date.getMonth() == now.getMonth())
								+calItem(date)
				.cal_inner_title= months[(now.getMonth() + 1)]
				.cal_month_block.next
					each date in schedule
						if (date.date.getMonth() == now.getMonth() + 1)
							+calItem(date)
				.cal_inner_title= months[(now.getMonth() + 2)]
				.cal_month_block.after
					each date in schedule
						if (date.date.getMonth() == now.getMonth() + 2)
								+calItem(date)
	.content_body
		.title(lang='ru')= event.ru.title.toUpperCase()
		if (event.ru.s_title)
			.s_title= event.ru.s_title.toUpperCase()
		.members
			if (event.meta.columns.one.length > 0 && event.meta.columns.two.length > 0)
				.column#one
					each status in event.meta.columns.one
						+memberList(ru_column_one[status] || ru_column_two[status], status)
				.column#two
					each status in event.meta.columns.two
						+memberList(ru_column_two[status] || ru_column_one[status], status)
			else
				.column#one
					each marker, status in ru_column_one
						+memberList(marker, status)
				.column#two
					each marker, status in ru_column_two
						+memberList(marker, status)
			.s_column
				if (event.age && event.duration)
					.age= event.age
					.duration= event.duration
				if (event.ru.comment)
					.comment
						!= event.ru.comment
		.description(lang='ru')
			!= event.ru.body